<ActionBar title="Cocktail Party" class="action-bar">
</ActionBar>

<GridLayout rows="50, *" columns="auto, *">
  <Label text="Ingredient:" class="m-x-15"></Label>
  <DropDown col="1" [items]="ingredients$ | async" [(ngModel)]="ingredientIndex" (selectedIndexChanged)="updateCocktailList()"
    (closed)="onClose()" hint="select an ingredient">
  </DropDown>

  <ListView row="1" colSpan="2" [items]="cocktails$ | async" class="list-group">
    <ng-template let-cocktail="item">
      <GridLayout class="list-group-item" rows="auto" columns="auto, *" [nsRouterLink]="['/recipe', cocktail.idDrink]">
        <Image [src]="cocktail.strDrinkThumb" width="40" class="thumb img-circle"></Image>
        <Label col="1" [text]="cocktail.strDrink" class="list-group-item-heading"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</GridLayout>